ADMIN_USERNAME=admin
ADMIN_PASSWORD=自行替换复杂的密码

GATEWAY_ADMIN_SECRET=随机密钥
DJANGO_SECRET_KEY=随机密钥
CREDENTIAL_ENCRYPTION_KEY=至少32位随机密钥
DJANGO_ALLOW_ALL_ORIGINS=disable
DJANGO_ALLOWED_HOSTS=你的域名,django,localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://你的域名
CLOUDFLARE_TURNSTILE=开启enable/关闭disable，请自行选择
CLOUDFLARE_TURNSTILE_SITE_KEY=站点密钥
CLOUDFLARE_TURNSTILE_SECRET_KEY=站点机密
